<div class="container mt-5">
  <h1>🅰️ Angular pipes 😎</h1>

  <!-- Currency pipe table-->
  <div class="mt-5">
    <h2 class="text-success">Pipes para monedas (CurrencyPipe)</h2>
    <div class="m-2 my-4 fw-bold text-secondary">
      <p>a = {{ a }}</p>
      <p>b = {{ b }}</p>
    </div>
    <table class="table table-striped table-dark">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Pipe</th>
          <th scope="col">Resultado</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">1</th>
          <td class="w-50">a | currency</td>
          <td>{{ a | currency }}</td>
        </tr>
        <tr>
          <th scope="row">2</th>
          <td>a | currency: "EUR"</td>
          <td>{{ a | currency: "EUR" }}</td>
        </tr>
        <tr>
          <th scope="row">3</th>
          <td>a | currency: "EUR":"code"</td>
          <td>
            <p>{{ a | currency: "EUR":"code" }}</p>
          </td>
        </tr>
        <tr>
          <th scope="row">4</th>
          <td>b | currency: "PEN ":"symbol":"4.2-2"</td>
          <td>
            <p>{{ b | currency: "PEN ":"symbol":"4.2-2" }}</p>
          </td>
        </tr>
        <tr>
          <th scope="row">6</th>
          <td>
            <p>b | currency: "EUR":"symbol-narrow":"3.2-4"</p>
          </td>
          <td>
            <p>{{ b | currency: "EUR":"symbol-narrow":"3.2-4" }}</p>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
